@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Naključnik";
}

<div class="text-center">
    <h1 class="display-5">Zapomni si, če si moreš</h1>
    <p></p>

    <div class="display-5">
        <form method="post">
            <label asp-for="Cnt">št. besed</label>
            <input id="inpCnt" asp-for="Cnt" class="narrow" />
            <label asp-for="Len">vsaj</label>
            <input asp-for="Len" class="narrow" />
            <label asp-for="MaxLen">največ</label>
            <input asp-for="MaxLen" class="narrow" />
            <label asp-for="Speed">sek. na besedo</label>
            <input id="inpSpeed" asp-for="Speed" class="narrow" />
            &nbsp;&nbsp;
            <input type="submit" value="Prikaži" />
            <img onclick="showHideWords(true);" src="question.png">
            
            <div id="time">
            </div>

            @if (Model.Words != null && Model.Words.Count > 0)
            {
                <div id="results">
                @foreach (var w in Model.Words)
                {
                        <span>
                            <strong><a href="https://viri.cjvt.si/gigafida/Concordance/Search?Query=@w.ToLower()" target="_blank">@w</a></strong>
                            <a class="afran" href="https://fran.si/iskanje?Query=@w.ToLower()" target="_blank">f</a>
                            <a class="afran" href="http://bos.zrc-sazu.si/cgi_new/neva.exe?name=ssbsj&expression=@w.ToLower()" target="_blank">b</a>
                        </span>
                }
                </div>

                <script language="javascript">
                    let inpCnt = document.getElementById('inpCnt').value;
                    let inpSpeed = document.getElementById('inpSpeed').value.replace(',', '.');
                    
                    let intervalId = setInterval(stat, 1000);
                    let sec = Math.floor(inpCnt*inpSpeed);
                    document.getElementById('time').innerText = sec;
                    
                    function stat()
                    {
                        sec--;
                        var d = document.getElementById('time');
                        d.innerText = sec;

                        if (sec < 0)
                        {
                            showHideWords(false);
                            clearInterval(intervalId);
                            d.innerText = "";
                        }
                    }

                    function showHideWords(show)
                    {
                        var d = document.getElementById('results');
                        if (show) {
                            d.style.display = 'block';
                        }
                        else {
                            d.style.display = 'none';
                        }
                    }
                </script>
            }
        </form>
        
    </div>

</div>
