@page
@model InstructionsModel
@{
    ViewData["Title"] = "Navodila";
}
<h1>@ViewData["Title"]</h1>

<p>Naključnik je igra spomina z naključnimi besedami. </p>

<p>
    Z vnosnimi polji določimo število besed, njihovo najmanjšo in najdaljšo dolžino. 
    Iskanje se sproži z gumbom [Prikaži]. Besede so prikazane za [število besed] * [sekund na besedo] sekund, nato se skrijejo.
    Igralci se ob tem trenutku poskusijo spomniti čimveč prikazanih besed. Na koncu s pritiskom na vprašajček prikažejo besede nazaj, da lahko preverijo rezultate.
</p>

<p>
    Vsaka prikazana beseda ima 3 povezave na spletne korpuse: Fran, BOS, Gigafida 2.0
</p>

<p></p>
<p></p>
<p>Simple memory game with random words in Slovenian language / with slovenian words</p>